# **Preprocessing**

In [2]:
import pandas as pd

In [3]:
cu= pd.read_excel("/content/Telco_customer_churn.xlsx")

In [4]:
cu.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [5]:
cu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [6]:
cu.isnull().sum()

CustomerID              0
Count                   0
Country                 0
State                   0
City                    0
Zip Code                0
Lat Long                0
Latitude                0
Longitude               0
Gender                  0
Senior Citizen          0
Partner                 0
Dependents              0
Tenure Months           0
Phone Service           0
Multiple Lines          0
Internet Service        0
Online Security         0
Online Backup           0
Device Protection       0
Tech Support            0
Streaming TV            0
Streaming Movies        0
Contract                0
Paperless Billing       0
Payment Method          0
Monthly Charges         0
Total Charges           0
Churn Label             0
Churn Value             0
Churn Score             0
CLTV                    0
Churn Reason         5174
dtype: int64

In [7]:
cu['Churn Label'].value_counts()

Churn Label
No     5174
Yes    1869
Name: count, dtype: int64

In [8]:
cu.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')

In [9]:
drop_cols=['CustomerID','Count','Country','State','City','Zip Code','Lat Long','Latitude','Longitude','Churn Label','Churn Score','CLTV','Churn Reason']
cu = cu.drop(columns=drop_cols)

In [10]:
cu['Total Charges'] = pd.to_numeric(cu['Total Charges'], errors='coerce')
cu=cu.dropna()

In [11]:
cu['Churn Value'].value_counts(normalize=True)

Churn Value
0    0.734215
1    0.265785
Name: proportion, dtype: float64

# **EDA**

In [12]:
pd.crosstab(cu['Contract'],cu['Churn Value'], normalize='index')

Churn Value            0         1
Contract
Month-to-month  0.572903  0.427097
One year        0.887228  0.112772
Two year        0.971513  0.028487

In [13]:
cu.groupby('Churn Value')['Tenure Months'].mean()

Churn Value
0    37.650010
1    17.979133
Name: Tenure Months, dtype: float64

In [14]:
cu.groupby('Churn Value')['Monthly Charges'].mean()

Churn Value
0    61.307408
1    74.441332
Name: Monthly Charges, dtype: float64

In [15]:
cu['Tenure_Group']=pd.cut(cu['Tenure Months'],bins=[0,12,24,48,72],labels=['0-1yr','1-2yr','2-4yr','4-6yr'])

In [16]:
cu['Tenure_Group']

0       0-1yr
1       0-1yr
2       0-1yr
3       2-4yr
4       4-6yr
        ...
7038    4-6yr
7039    1-2yr
7040    4-6yr
7041    0-1yr
7042    4-6yr
Name: Tenure_Group, Length: 7032, dtype: category
Categories (4, object): ['0-1yr' < '1-2yr' < '2-4yr' < '4-6yr']

In [17]:
pd.crosstab(cu['Tenure_Group'],cu['Churn Value'], normalize='index')

Churn Value          0         1
Tenure_Group
0-1yr         0.523218  0.476782
1-2yr         0.712891  0.287109
2-4yr         0.796110  0.203890
4-6yr         0.904868  0.095132

# **Feature Engineering**

In [25]:
binary_cols=cu.select_dtypes('object').columns
cu=pd.get_dummies(cu,drop_first=True)

In [26]:
x = cu.drop('Churn Value',axis=1)
y= cu['Churn Value']

# **Model Building**

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
from sklearn.ensemble import RandomForestClassifier

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [32]:
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [39]:
model =LogisticRegression(max_iter=2000,class_weight='balanced')
model.fit(x_train_scaled,y_train)
y_pred=model.predict(x_test_scaled)

In [40]:
print(confusion_matrix(y_test,y_pred))

[[744 268]
 [ 76 319]]

In [41]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.91      0.74      0.81      1012
           1       0.54      0.81      0.65       395

    accuracy                           0.76      1407
   macro avg       0.73      0.77      0.73      1407
weighted avg       0.81      0.76      0.77      1407

In [42]:
print(roc_auc_score(y_test,y_pred))

0.7713864011607544

In [48]:
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
rf_pred=rf.predict(x_test)
print(classification_report(y_test,rf_pred))

              precision    recall  f1-score   support

           0       0.83      0.91      0.87      1012
           1       0.69      0.51      0.58       395

    accuracy                           0.80      1407
   macro avg       0.76      0.71      0.72      1407
weighted avg       0.79      0.80      0.79      1407

In [50]:
importance = pd.Series(rf.feature_importances_, index=x.columns)
importance.sort_values(ascending=False).head(10)

Total Charges                      0.178276
Monthly Charges                    0.160224
Tenure Months                      0.152915
Internet Service_Fiber optic       0.042812
Dependents_Yes                     0.036867
Payment Method_Electronic check    0.034660
Contract_Two year                  0.028625
Gender_Male                        0.027527
Paperless Billing_Yes              0.026299
Partner_Yes                        0.025098
dtype: float64